{% extends 'base.html' %}
{% block title %}Blogly: Edit Tag{% endblock %}
{% block brand %}Blogly{% endblock %}
{% block content %}
<h2>Edit A Tag</h2>
<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name" id="name" value="{{tag.name}}">
    </div>
    <button class="btn btn-primary" formmethod="get" formaction="/tags">Cancel</button>
    <button class="btn btn-success" formmethod="post" formaction="/tags/{{tag.id}}/edit">Update</button>
</form>
{% endblock %}